<aside id="notice"><%= notice %></aside>
<aside style="color:red;"><%= alert %></aside>

<h1>Visits:</h1>
<% if @visits.empty? %>
  <h4>You don't have visits right now:</h4>
<% end %>
<% unless @visits.empty? %>
<table class="table">
  <thead>
    <tr>
      <th>Doctor</th>
      <th>User</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <% dt_format = "%d-%m-%Y %H:%M" %>
        <td><%= "#{visit.doctor.name} #{visit.doctor.surname}" %></td>
        <td><%= "#{visit.user.name} #{visit.user.surname}" %></td>
        <td><%= visit.start_time.strftime(dt_format) %></td>
        <td><%= visit.end_time.strftime(dt_format) %></td>
        <% if @current_user.is_admin %>
        <td><%= link_to 'Show', visit, class: 'btn btn-outline-primary btn-sm' %></td>
        <% end %>
        <td><%= link_to 'Cancel', visit, method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-outline-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<%= link_to 'New Visit', new_visit_path, class: 'btn btn-outline-success btn-sm' %>
