<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @visit.doctor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @visit.user_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @visit.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @visit.end_time %>
</p>

<%= link_to 'Back', visits_path, class: 'btn btn-light btn-sm' %> |
<%= link_to 'Destroy', @visit, method: :delete, data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger btn-sm' %>