<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Doctors</h1>
<table>
    <tfoot>
    <tr>
        <td colspan="3">
            <%= link_to 'New Doctor', new_doctor_path %>
        </td>
    </tr>
    </tfoot>
    <tbody>
    <% @doctors.each do |doctor| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="image">
            <%= image_tag(doctor.photo_url, class: 'list_image') %>
        </td>
        <td class="description">
            <h1><%= "#{doctor.name} #{doctor.surname}" %></h1>
            <p>
                <%= doctor.specialization %>
            </p>
            <p>
            <%= doctor.work_hours %>
            </p>
          <p>
            <%= doctor.phone_number %>
          </p>
        </td>
        <td class="actions">
            <ul>
                <li><%= link_to 'Show', doctor %></li>
                <li><%= link_to 'Edit', edit_doctor_path(doctor) %></li>
                <li>
                    <%= link_to 'Destroy',
                                doctor,
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
                </li>
            </ul>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>