<aside id="notice"><%= notice %></aside>
<aside style="color:red;"><%= alert %></aside>

<h1>Doctors</h1>
<table class="table">
  <% if @current_user.is_admin %>
    <tfoot>
    <tr>
        <td colspan="3">
            <%= link_to 'New Doctor', new_doctor_path, class: 'btn btn-outline-success btn-sm' %>
        </td>
    </tr>
    </tfoot>
  <% end %>
    <tbody>
    <% @doctors.each do |doctor| %>
    <tr>
        <td class="image">
            <%= image_tag(doctor.photo_url, class: 'list_image') %>
        </td>
        <td class="description">
            <h1><%= "#{doctor.name} #{doctor.surname}" %></h1>
            <p>
                <%= doctor.specialization.capitalize %>
            </p>
            <p>
            <%= doctor.work_hours %>
            </p>
          <p>
            <%= "Tel. #{doctor.phone_number}" %>
          </p>
        </td>
      <% if @current_user.is_admin %>
        <td class="actions">
            <ul>
                <li><%= link_to 'Show', doctor, class: 'btn btn-outline-primary btn-sm' %></li>
                <li><%= link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-outline-warning btn-sm' %></li>
                <li>
                    <%= link_to 'Delete',
                                doctor,
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-outline-danger btn-sm'%>
                </li>
            </ul>
        </td>
        <% end %>
    </tr>
    <% end %>
    </tbody>
</table>