<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @doctor.surname %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @doctor.specialization %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @doctor.phone_number %>
</p>

<p>
  <strong>Work hours:</strong>
  <%= @doctor.work_hours %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @doctor.photo_url %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', doctors_path, class: 'btn btn-light btn-sm' %>

<h1>Doctor's visits</h1>

<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Start time</th>
    <th>End time</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @visits.each do |visit| %>
    <tr>
      <% dt_format = "%d-%m-%Y %H:%M" %>
      <td><%= "#{visit.user.name} #{visit.user.surname}" %></td>
      <td><%= visit.start_time.strftime(dt_format) %></td>
      <td><%= visit.end_time.strftime(dt_format) %></td>
      <td><%= link_to 'Show', visit, class: 'btn btn-info btn-sm' %></td>
      <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
