<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Our doctors</h1>
<ul class="clinic">
  <% cache @doctors do %>
    <% @doctors.each do |doctor| %>
      <% cache doctor do %>
    <li>
      <%= image_tag(doctor.photo_url) %>
      <h2><%= "#{doctor.name} #{doctor.surname}" %></h2>
      <h3>
        <%= sanitize(doctor.specialization.capitalize) %>
      </h3>
      <div class="hours">
        <%= doctor.work_hours %>
      </div>
      <div class="price">
      <%= button_to 'Make an appointment', new_visit_path, params: {doctor_id: doctor.id}, method: :get %>
      </div>
    </li>
      <% end %>
  <% end %>
  <% end %>
</ul>