<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Our doctors</h1>
<ul class="clinic">
  <% cache @doctors do %>
    <% @doctors.each do |doctor| %>
      <% cache doctor do %>
    <li>
      <%= image_tag(doctor.photo_url) %>
      <h2><%= "#{doctor.name} #{doctor.surname}" %></h2>
      <h3>
        <%= sanitize(doctor.specialization.capitalize) %>
      </h3>
      <div class="hours">
        <%= doctor.work_hours %>
      </div>
      <div class="price">
      <%= button_to 'Make an appointment', new_visit_path, params: {doctor_id: doctor.id}, method: :get %>
      </div>
    </li>
      <% end %>
  <% end %>
  <% end %>
</ul>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>